@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
	
body{overflow-x: hidden;
	   background: #e0e5ec;

  font-family: "Droid Arabic Kufi",  "serif" ;}

/*------------------------------scroll---------------------------------*/


/*------------------------------scroll---------------------------------*/
nav{
	font-weight: 700;
		  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.logo img {
	width: 60px;
}
.navbar-toggler{
	border: none
}


/*------------------------------header---------------------------------*/
.side-bar{
	height: 100%;
	border-radius: 15px;
	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
/*________________card img____________________*/
/* img card */

.playlist{
	position: relative;
}



.play{
	margin-bottom: 48px;
}
/*	______________ search ____________*/

.finder {
  border: 1px solid #fff;
  background-color: #f6f5f0;
  border-radius: 15px;
  box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.finder__outer {
  border-radius: 10px;
  display: flex;
  box-shadow: inset 10px 10px 15px -10px #c3c3c3,
    inset -10px -10px 15px -10px #ffffff;
}

.finder__inner {
  display: flex;
  border-radius: 10px;
  align-items: center;
  flex: 1;
}


.finder__input {
  border-radius: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  height: 30px;
  font-size: 1.5rem;
  letter-spacing: 0.75px;
}

.finder__icon {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  transition: all 0.2s;
  border-radius: 50%;
  position: relative;

}
.finder__icon svg{
	padding: 3px;
	margin-top: 3px
}

/*------------------------------------*/
.button{
	box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
}
/* ------------------------ */
aside{
	position: absolute;
	top: 0;
	left: 100%;
	min-width: 400px;
	width: -100%;
	transition: all 2s ease-in-out;
	backdrop-filter: blur(6px);
	background-color: rgba(0,0,0,0.55);
background-image: linear-gradient(to right, rgba(0,0,0,0.40) 18%, rgba(28,52,165,0.70) 100%);

}
.aside-open{
	position: absolute;
	top: 0;
	right: 0;
	min-width: 400px;
	width: 44%;
	transition: all 2s ease-in-out;
}


section:hover{
	background: rgba(0,0,0,0.32);
	border-left: 6px solid #7500BB; 
	transition: all .3s ease-in;
	cursor: pointer;
}
section:hover img{
	border: 3px dotted #A3A3A3;
	background: rgba(0,0,0,0.00);
	transition: all .3s ease-in-out;
}
section .icons svg{
	color: #A3A3A3;
	font-size: 28px;
}
section .icons svg:hover{
	color: tomato;
}

aside section .icon{
	display: block;
}
aside section .img{
	width: 90px;
	height: 90px;
	border: 2px solid rgba(223,222,252,0.77);
	border-radius: 50%;
	
}
/*	activet	*/
.active-play{
	color: tomato;
	text-shadow: 0 0 5px #0005FF,  0 0 30px rgba(0,41,201,0.55), 2px 2px 6px rgba(233,237,252,0.98), 2px 3px 0px rgba(0,45,203,0.96);
	background: rgba(0,0,0,0.32);
	border-left: 6px solid #7500BB;
}
.active-icon{
	color: tomato;
}
/*_________________*/


section {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #03e9f4;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 40px;
	letter-spacing: 4px
  }
  
 
aside span {
	position: absolute;
	display: block;
  }
  
.active-play span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #03e9f4);
	animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
	0% {
	  left: -100%;
	}
	50%,100% {
	  left: 100%;
	}
  }
  
 .active-play span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #03e9f4);
	animation: btn-anim2 1s linear infinite;
	animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
	0% {
	  top: -100%;
	}
	50%,100% {
	  top: 100%;
	}
  }
  
  .active-play span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #03e9f4);
	animation: btn-anim3 1s linear infinite;
	animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
	0% {
	  right: -100%;
	}
	50%,100% {
	  right: 100%;
	}
  }
  
 .active-play span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #03e9f4);
	animation: btn-anim4 1s linear infinite;
	animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
	0% {
	  bottom: -100%;
	}
	50%,100% {
	  bottom: 100%;
	}
  }
/* ----------------------- */






/* 
/*-----------------------------bdf----------------------------------*/

.bdf{
	border-radius: 20px;
	box-shadow:
	  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	  0 12.5px 10px rgba(0, 0, 0, 0.06),
	  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	  0 100px 80px rgba(0, 0, 0, 0.12);
}
/*-----------------------------nav-footer----------------------------------*/
.footer ul li svg{
	color: #FFB6B7
}
.footer{
background-color: rgba(255,255,255,0.31);
background-image: linear-gradient(180deg, #FFFFFF 0%, #010316 79%);
}

.frame ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
   border-radius: 10px;
}

.btn-shadow{
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background: #e0e5ec;
  display: flex;
 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  font-size: 16px;
  color: rgba(42, 52, 84, 1);
  text-decoration: none;
}
.frame .btn:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

/* -------------------------------------------------------------- */
